@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none
    
    
}

body{
    font-family: "Josefin Sans", serif;
}

  /*------INDEX-----*/

                                
    /*---barra de navegacion----*/


.container-fluid{
    background-color: rgb(145, 197, 228);
    width: 100%;
    height: 90px;
}

.link-nav{
    color: rgb(102, 102, 252);
    text-decoration: none;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80px;
}

.link-nav-inicio{
    color: rgb(102, 102, 252);
    
}


.logo-pagina{
    width: 80px;
    height: 80px;
    align-items: start;
}

     /*---sección bienvenidos----*/

.bienvenidos{
    background-image: url(../img/fondo\ mascotas.avif);
}

.bienvenidos h1{
    color: rgb(46, 17, 150);
    font-size: 45px;
    text-align: center;
    text-decoration: underline;
}

.bienvenidos img{
    flex-wrap: wrap;
    width: 100%;
    height: 300px;
}

    /*----sección nuestras marcas----*/

.nuestras-marcas{
    background-image: url(../img/fondo\ mascotas.avif);
}

.nuestras-marcas h2{
    color: rgb(3, 3, 110);
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
    padding: 35px;
    background-color: rgb(156, 220, 223);
    

}

     /*----sección carrousel---*/

.carrousel{
    height: 300px;

}

.imagen-banner{
    width: 100%;
    height: 250px;
}

      /*-----sección beneficios----*/

.beneficios{
    height: 800px;
    background-image: url(../img/fondo\ mascotas.avif);
}

.beneficios h2{
    color: rgb(5, 5, 99);
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
    padding: 15px;
    background-color: rgb(156, 220, 223);

}

.beneficios h3{
    color: rgb(6, 6, 221);
    font-size: 25px;
    text-decoration: underline;
    text-align: center;
}

.beneficios p{
    color: black;
    font-size: 20px;
    text-align: center;
}

  /*-----NUTRICIÓN-----*/

     /*----Título----*/

.titulo-nutricion h2{
    color: rgb(5, 5, 99);
    font-size: 35px;
    text-align: center;
    text-decoration: underline;
    padding: 15px;
    background-image: url(../img/fondodelicado.avif);
    
}

 /*----Sección tabla nutricional----*/

.tabla-nutricional{
    height: 1200px;
    background-image: url(../img/fondodelicado.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

.tabla-nutricional img{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px 250px;
    width: 600px;
    height: 500px;
    display: flex;
    justify-content: center;
}

.tabla-nutricional h3{
    color: black;
    font-size: 25px;
    text-decoration: underline;
    
    
}

 /*----sección elección alimento----*/

.eleccion-alimento{
    background-image: url(../img/fondodelicado.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.eleccion-alimento h3{
    color: darkblue;
    font-size: 30px;
    text-decoration: underline;
    text-align: center;
}

/*----sección acordeón---*/

.accordion{
    padding: 20px;
    margin-top: 20px;
}



/*----PRODUCTOS----*/

.galeria h2{
    color: darkblue;
    font-size: 40px;
    text-align: center;
    text-decoration: underline;
    padding-top: 20px;
}



    /*----SECCIÓN GRID GALERIA----*/

.titulo-galeria{
    font-size: 35px;
    color: darkblue;
    text-align: center;
    text-decoration: underline;
    background-image: url(../img/fondodelicado.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-wrap: wrap;
}


.grid-galeria{
    width: 100%;
    height: 1800px;
    display: grid;
    margin-top: 35px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 250px;
    gap: 15px;
    display: flex;
    flex-wrap: wrap;
    
}


.grid-item img{
    width: 250px;
    height: 250px;
}

.alimento-mature{
    width: 100px;
    height: 200px;
}


.img-1{
    grid-column: span 2;
}

.img-3{
    grid-column: span 2;
}

.img-5{
    grid-column: span 2;
}

.img-8{
    grid-row: span 2;
}

.img-13{
    grid-row: span 2;
}



/*-----SECCIÓN SERVICIOS BRINDADOS----*/


.servicios{
    height: 400px;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

                            
     /*-----imágenes servicios----*/

.imagenes-servicios h2{
    color: black;
    font-size: 30px;
    text-decoration:underline;
    background-color: aqua;

    
}

.imagenes-servicios img{
    width: 300px;
    height: 200px;
    
}

  /*----SECCIÓN PELUQUERÍA CANINA----*/
                        
.pelu-canina h2{
    color: darkblue;
    font-size: 35px;
    text-align: center;
    text-decoration: underline;
    background-color: cornflowerblue;
}

/*----sección acordeón peluquería canina----*/
.accordion-body{
    font-size: 20px;

}

/*----CONTACTO----*/

/*----sección redes sociales-----*/
.contacto-redes{
    display: flex;
    flex-direction: column;
    height: 400px;
}

.contacto-redes h2{
    color: black;
    font-size: 25px;
    text-align: center;
    text-decoration: underline;
    padding: 20px;
    background-color: cornflowerblue;
}
.contacto-redes h3{
    color: darkblue;
    font-size: 15px;
    padding: 20px;
    
}

.logo-facebook{
    width: 30px;
    height: 30px;
    
}
.logo-instagram{
    width: 30px;
    height: 30px;
    
}
.logo-whatsapp{
    width: 30px;
    height: 30px;
    
}

/*-----FOOTER-----*/

footer a img{
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    

}

footer .icono-wp{
    position: fixed;
    width: 70px;
    height: 70px;
    bottom: 0;
    right: 0;
    margin-right: 10px;
}

footer{
    width: 100%;
    height: 100px;
    background-color: rgb(12, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 25px;
}


@media screen and (max-width:619px){
    nav div ul{
        flex-direction: column;
        text-align: left;
    }
}

@media screen and (max-width:619px){
    .bienvenidos img{
        height: 150px;
        width: 100%;
    }
}

@media screen and ( max-width:479px){

}
    .bienvenidos{
        height: 400px;
    }


@media screen and (max-width:580px){
    nav div a img{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

@media screen and (max-width:569px){
    .beneficios{
        height: 1200px;
    }
}

/*---html nutrición: media queri---*/

@media screen and (max-width:619px){
    .container-fluid{
        height: 90px;
    }
}

@media screen and (max-width:619px){
    .nutricion-alimentos{
        padding-top: 40px;
        display: flex;
        justify-content: center;
    }
   
}

/*----HTML PRODUCTOS----*/
@media screen and (max-width:619px){
    .titulo-galeria{
        font-size: 25px;
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width:619px){
    .grid-galeria{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 250px;
        height: 2800px;
    }
}

@media screen and (max-width:619px){
    .grid-galeria img{
        width: 200px;
        height: 200px;
        padding-top: 15px;
        background-image: url(../img/fondodelicado.avif);
    }
}

@media screen and (max-width:619px){
    .grid-item img-1{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 250px;
        padding: 15px;

    }
}

@media screen and (max-width:619px){
    .grid-item{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 250px;
        padding: 15px;
        margin-left: 50px;
    }
}

/*----HTML SERVICIOS----*/

@media screen and (max-width:619px){
    .imagenes-servicios{
        padding-top: 30px;
    }
}

@media screen and (max-width:619px){
    .pelu-canina h2{
        font-size: 25px;
    }
}







  










